<%# entry view of our todos app, should be rendered on index route %>


<% include ./partials/header.ejs %>
  <h1>Hello!!! From my New Todos App </h1>
  <h2><%= message %></h2>
  <% include ./partials/footer.ejs %>
