<%# set up a boilerplate for the header %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  <link rel='stylesheet' type='text/css' href='styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='styles/style.css'>
  </head>
  <body>

